---
layout: default
title: Learn
---

<p class="message">
    이 곳은 개인적으로 책을 읽거나 스터디를 통해 공부한 내용을 스스로 보기 위한 목적으로 정리하는 공간입니다.
</p>

<div class="categories">
    {% assign all_categories = site.learns | group_by_exp:"post", "post.categories.first" | sort: "name" %}
    {% for category in all_categories %}
    <div id="{{ category.name | slugify }}" class="category">
        <h2 class="category-name">
            <a href="#{{ category.name | slugify }}">
                {% assign words = category.name | split: "-" %}
                {% for word in words %}
                {{ word | capitalize }}{% if forloop.last == false %} {% endif %}
                {% endfor %}
            </a>
        </h2>
        <ul class="category-posts">
            {% for post in category.items %}
            <li class="post">
                <h3 class="post-title">
                    <a href="{{ post.url | absolute_url }}">
                        {{ post.title }}
                    </a>
                </h3>
                <span class="post-date">{{ post.date | date_to_string }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
