---
layout: default
---

{%-include back_link.html-%}

<article>
    <header>
        <h1>{{ page.title }}</h1>

        <dl class="post-meta">
            <dt>Published</dt>
            <dd><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.theme_config.date_format }}</time></dd>

            {%- if page.category or page.categories -%}
            <dt>Category</dt>
            <dd>
                {%- if page.category -%}
                {{ page.category }}
                {%- elsif page.categories -%}
                {{ page.categories | join: ", " }}
                {%- endif -%}
            </dd>
            {%- endif -%}

            {%- if page.tags -%}
            <dt>Tags</dt>
            <dd>{{ page.tags | join: ", " }}</dd>
            {%- endif -%}
        </dl>

        {%- if page.draft -%}
        <p><mark><strong>이 글은 초안입니다.</strong></mark></p>
        {%- endif -%}
    </header>

    {{ page.content }}
</article>