---
layout: default
---

{%-include back_link.html-%}

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>

        {%- if page.draft -%}
        <p class="post-draft-notice"><mark><strong>이 글은 초안입니다.</strong></mark></p>
        {%- endif -%}

        <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.theme_config.date_format }}</time>

            {%- if page.category or page.categories -%}
            <span class="post-category">
                {%- if page.category -%}
                {{ page.category }}
                {%- elsif page.categories -%}
                {{ page.categories | join: ", " }}
                {%- endif -%}
            </span>
            {%- endif -%}

            {%- if page.tags -%}
            <span class="post-tags">{{ page.tags | join: ", " }}</span>
            {%- endif -%}
        </div>
    </header>

    <div class="post-content">
        {{ page.content }}
    </div>
</article>